img {
    height: 500px;
    width: 990px;
}
#main{
    background-color: bisque;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
    border-left-width: 200px;
    border-right-width: 200px;
    scroll-margin-left: 200px;    
}
#header{

    background-color:royalblue;
    
}